@import url(//db.onlinewebfonts.com/c/297245c50dafc15ecc9ab807dcf6aea2?family=Silver);
$secondary-font:"silver";
$brown-text:#7A5540;
$orange-text:#FF6D01;
$beige-text:#C8BDA0;
$gray-text:#CDC9C3;
$beige-background:#F0E1C0;
$brown-background1:#8E847D;
$brown-background2:#49423e;
$orange-background1:#FF9C05;
$orange-background2:#EC7301;
